<%- include("partials/header.ejs") %>

<div class="container">
  <div class="row py-4">
    <div class="col-12 col-lg-8 d-flex-column justify-content-between">
      <h1 class="py-2">My name is Jake. </h1>
      <h2 class="py-2">I am dog 🐶</h2>
    </div>
    <div class="col-12 col-lg-4">
      <img
        class="title img-fluid"
        src="/img/Jake.jpg"
        alt="A picture of me, Jake, lording it over my kingdom (woof!)"
      />
    </div>
  </div>
</div>

<div class="container py-4">
    <div class="carousel slide" id="articleCarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% for (let i=0; i< json.length; i++) { %>
            <% if (i == 0) { %>
              <div class="carousel-item active">
            <% } else { %>
              <div class="carousel-item">
            <% } %>
              <img src="<%= json[i].img_url %>" class="d-block w-100 article-img" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <a href="/post/<%= json[i].id %>"><div class="click-me"><h2><%=json[i].title %></h2></div></a>
                <p><%= json[i].subtitle %></p>
              </div>
            </div>
          <% }; %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>

<%- include("partials/footer.ejs") %>